@page "/AddStudent"
@using FailDaysClientApp.Models
@using System.Net.Http.Json
@inject HttpClient httpClient

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Select TValue="string" @bind-SelectedValue="@selectedValue">
                @foreach (Course course in dropdownContent)
                {
                    <SelectItem Value="course.CourseName">@course.CourseName</SelectItem>
                }
            </Select>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Field>
                <FieldHelp>Vorname</FieldHelp>
                <TextEdit @ref="firstName"/>
            </Field>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Field>
                <FieldHelp>Nachname</FieldHelp>
                <TextEdit @ref="lastName"/>
            </Field>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Field>
                <FieldHelp>Matrikelnummer</FieldHelp>
                <TextEdit @ref="matNr"/>
            </Field>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Button Color="Color.Dark" Clicked="@ButtonOnClick">ADD</Button>
        </Column>
    </Row>
</Container>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Some placeholder content for the second accordion panel. This panel is hidden by default.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
      </div>
    </div>
  </div>
</div>


@code 
{
    string selectedValue;

    private Course[] dropdownContent { get; set; } = new[] {new Course() {CourseName = ""}};

    Dropdown dropdown;
    TextEdit firstName;
    TextEdit lastName;
    TextEdit matNr;

    async Task ButtonOnClick()
    {
        var student = new Student()
        {
            FirstName = firstName.Text,
            LastName = lastName.Text,
            MatNr = int.Parse(matNr.Text),
            CourseId = selectedValue
        };
        await httpClient.PostAsJsonAsync("https://localhost:5001/api/student", student);
        await httpClient.PostAsJsonAsync("https://localhost:5001/api/grade", student);
    }
    
    void SomeStartupMethod()
    {
        
    }

    async Task SomeStartupTask()
    {
        HttpResponseMessage response = await httpClient.GetAsync("https://localhost:5001/api/course");
        dropdownContent = await response.Content.ReadFromJsonAsync<Course[]>();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        SomeStartupMethod();
        await SomeStartupTask();
    }
}
