@page "/AddStudent"
@using FailDaysClientApp.Models
@using System.Net.Http.Json
@inject HttpClient httpClient

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Select TValue="string" @bind-SelectedValue="@selectedValue">
                @foreach (Course course in dropdownContent)
                {
                    <SelectItem Value="course.CourseName">@course.CourseName</SelectItem>
                }
            </Select>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Field>
                <FieldHelp>Vorname</FieldHelp>
                <TextEdit @ref="firstName"/>
            </Field>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Field>
                <FieldHelp>Nachname</FieldHelp>
                <TextEdit @ref="lastName"/>
            </Field>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Field>
                <FieldHelp>Matrikelnummer</FieldHelp>
                <TextEdit @ref="matNr"/>
            </Field>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Button Color="Color.Dark" Clicked="@ButtonOnClick">ADD</Button>
        </Column>
    </Row>
</Container>


@code 
{
    string selectedValue;

    private Course[] dropdownContent { get; set; } = new[] {new Course() {CourseName = ""}};

    Dropdown dropdown;
    TextEdit firstName;
    TextEdit lastName;
    TextEdit matNr;

    async Task ButtonOnClick()
    {
        var student = new Student()
        {
            FirstName = firstName.Text,
            LastName = lastName.Text,
            MatNr = int.Parse(matNr.Text),
            CourseId = selectedValue
        };
        await httpClient.PostAsJsonAsync("https://localhost:5001/api/student", student);
        await httpClient.PostAsJsonAsync("https://localhost:5001/api/grade", student);
    }
    
    void SomeStartupMethod()
    {
        
    }

    async Task SomeStartupTask()
    {
        HttpResponseMessage response = await httpClient.GetAsync("https://localhost:5001/api/course");
        dropdownContent = await response.Content.ReadFromJsonAsync<Course[]>();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        SomeStartupMethod();
        await SomeStartupTask();
    }
}
