@page "/"
@using System.Net.Http.Json
@inject HttpClient httpClient


<h1>Leistungstracker</h1>
<Button Color="Color.Dark" Clicked="@ButtonOnClick">DELETE AND POPULATE DB</Button>

@code {
    private async Task ButtonOnClick()
    {
        await httpClient.PostAsJsonAsync("https://localhost:5001/api/grade/populate", "");

    }
}


